# ==========================================
# ARCHIVO DE CONFIGURACIÓN DE ENTORNO (.env)
# TODO-YA - ENTORNO LOCAL Y PRODUCCIÓN
# ==========================================

# Base de Datos PostgreSQL Cloud (Neon.db)
# Configura DATABASE_URL para acceso seguro desde backend/API Routes (Vercel Serverless)
DATABASE_URL="postgresql://neondb_owner:npg_d8vEk6DgbItC@ep-long-leaf-aiy3nnbm-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require"
EXPO_PUBLIC_DATABASE_URL="postgresql://neondb_owner:npg_d8vEk6DgbItC@ep-long-leaf-aiy3nnbm-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require"

# API Key de Inteligencia Artificial (Google Gemini AI)
GEMINI_API_KEY="AQ.Ab8RN6I2gZ4BBesvkjLn0u27mElzGplgA7JoWt3HSFNVso39rg"
EXPO_PUBLIC_GEMINI_API_KEY=""

# Credenciales de Pasarela de Pago (VeriPagos / BCP)
VERIPAGOS_USER="victorhugo"
VERIPAGOS_PASSWORD="s9Ee7!Cw67"
VERIPAGOS_SECRET_KEY="12df605b-5dd3-4a35-84b0-b9ec07bfecae"

# Autenticación OAuth (Google & LinkedIn)
EXPO_PUBLIC_GOOGLE_CLIENT_ID="814274110453-15ebanhbcjanl9i3h81fsmujiro971pk.apps.googleusercontent.com"
LINKEDIN_CLIENT_ID="TU_LINKEDIN_CLIENT_ID"
LINKEDIN_CLIENT_SECRET="TU_LINKEDIN_CLIENT_SECRET"
EXPO_PUBLIC_LINKEDIN_CLIENT_ID=""
